html,
body {
  margin: 0;
  padding: 0;
  position: inherit;
  background-color: rgb(228, 255, 254);
  font-family: Arial, Helvetica, sans-serif;
}

#name {
  background-color: rgba(186, 187, 194, 0.863);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  align-content: center;
}

.left {
  padding: 10px;
  float: left;
}

.container1 {
  margin: 0 auto;
  width: 95%;
  font-weight: bold;
  align-content: center;
}

.container-fluid {
  padding-top: 70px;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 8px;
}

#img1 {
  margin: 0 auto;
  padding: 10px;
  align-content: center;
}

.container3 {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.container3 img {
  vertical-align: middle;
}

.container3 .content {
  position: absolute;
  bottom: 0;
  height: 100%;
  background: rgba(6, 4, 31, 0.685); /* Black background with transparency */
  color: #f1f1f1;
  width: 100%;
  max-height: 800px;
  text-align: center;
  align-content: center;
  margin-top: 20px;
  padding: 40px;
}

#btmcolor {
  color: #ccc;
  font-style: oblique;
  font-size: 20px;
  background: rgba(9, 5, 58, 0.959);
}
#btn-nav {
  color: white;
  border-top: 1px solid white;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .content {
    height: 600px;
    padding: 0;
  }
  .container3 {
    height: 600px;
    padding: 0;
  }
}

.icons {
  margin-top: 1rem;
  padding: 40px;
}
.icons a {
  padding: 0.4rem;
}
.icons a:hover {
  color: white;
  transition: all 0.5s ease-out;
}
.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.wrapper {
  min-height: 300px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

input {
  color: black !important;
}
