h5{
    text-align: center;
}
body{
    background-color: bisque;
    margin: 0 auto;
}
.img{text-align: center;
}
.detail{
    text-align: center;
}
.desc{
    text-align: center;
}
.container{
    margin: 0 auto;
    border: 0ch;
}
.but{
    text-align: center;
}
.log{
    text-align: center;
}